---
  - name: Restart mesos-master
    service: name=mesos-master state=restarted
    when: mesos_install_mode == "master" or mesos_install_mode == "master-slave"

  - name: Restart mesos-slave
    service: name=mesos-slave state=restarted
    when: mesos_install_mode == "master" or mesos_install_mode == "master-slave"

  # While waiting for https://github.com/ansible/ansible-modules-core/issues/191
  - name: Reload daemon
    command: systemctl daemon-reload
